doctype html
html( lang='pt-br' )
	include head.pug
	body
		header
			h1 LPFINANCAS
			p ADIÇÃO DE FORASTEIRO
		main
			form( action="http://127.0.0.1:8080/login" method="post" )
				label( for="idnome" ) login
				input( id="idnome" type="text" name="nome" maxlength="50" required )

				label( for="iddescr" ) descrição
				input( id="iddescr" type="text" name="descricao" )

				label( for="idregistrador" )
				select
					#{ ids.map( id => `option ( value="${id}" ) ${id}` ) }

				input( type="submit" value="LOGAR" )

		footer
			a( href="/sessao" ) voltar para painel
			a( href="/" ) encerrar sessao
			small lpfinancas 2023
