doctype html
html( lang='pt-br' )
	include head.pug
	body
		header
			h1 LPFINANCAS
		main
			div
				h2 #{ msg }
		footer
			if sucesso
				a( href='/login' ) agoraloga-te
			else
				a( href='/criarconta' ) tente novamente
			small lpfinancas 2023
