doctype html
html( lang='en' )
	head
		title= inicio
		link( rel='stylesheet', href='../public/css/index.css', type='text/css' )
	body
		header
			h1 LPFINANCAS
		main
			h2 seja bem vindo à aplicação de gerenciamento de valores monetários do luiz
			a( href='/login.html' ) loga-te
			br
			a( href='/criarconta.html' ) cria conta
		footer
			small lpfinancas 2023
	
