doctype html
html( lang='pt-br' )
	include head.pug
	body
		header
			h1 SISTEMA DE FINANÇAS BÁSICO
		main
			h2 SEJA BEM VINDO AO SISTEMA DE GERÊNCIA DE VALORES

		footer
			a( href="/login" ) login
			a( href="/criarconta" ) criarconta
			
			small lpfinancas 2023
