doctype html
html( lang='pt-br' )
	include head.pug
	body
		header
			h1 LPFINANCAS
			p LOGIN
		main
			form( action="http://127.0.0.1:8080/login" method="post" )
				label( for="idlogin" ) login
				input( id="idlogin" type="text" name="login"  required )

				label( for="idsenha" ) senha
				input( id="idsenha" type="password" name="senha"  required )

				input( type="submit" value="LOGAR" )

		footer
			a( href='/' ) voltar para página inicial
			a( href='/criarconta' ) criar conta
			small lpfinancas 2023
