doctype html
html( lang='en' )
	head
		title= sessao
		link( rel='stylesheet', href='../public/css/index.css', type='text/css' )
	body
		header
			h1 LPFINANCAS
			p SEJA MUITO BEM VINDO #{login}
		main
			p em construção...

			a( href='/' ) encerrar sessao
		footer
			small lpfinancas 2023
