doctype html
html( lang='pt-br' )
	include head.pug
	body
		header
			h1 LPFINANCAS
			p SEJA MUITO BEM VINDO #{ login }
		main
			div
				h2 CARTEIRAS
				ul
					li
						a( href="/sessao/usuario/criarcarteira" ) criar carteira
					li
						a( href="/sessao/usuario/editarcarteira" ) editar carteira
					li
						a( href="/sessao/usuario/visualizarcarteiras" ) visualizar carteiras

				h2 FORASTEIROS

				ul
					li
						a( href="/sessao/usuario/adicionarforasteiro" ) adicionar forasteiro
					li
						a( href="/sessao/usuario/editarforasteiro" ) adicionar forasteiro
					li
						a( href="/sessao/usuario/visualizarforasteiros" ) visualizar forasteiros

		footer
			a( href='/' ) encerrar sessao
			small lpfinancas 2023
