doctype html
html( lang='pt-br' )
	include head.pug
	body
		header
			h1 LPFINANCAS
			p VISUALIZAR CARTEIRA PARA #{ usuario }
			p.
				A carteira é uma entidade abastrata que representa
				um lugar físico ou digital onde armazenas valores
				monetários.
		main
			form( action=`http://127.0.0.1:8080/sessao/${usuario}/criarcarteira` method="post" )
				label( for="carteiras" ) lista de carteiras
				p lista dinâmica de carteiras select

				input( type="submit" value="VISUALIZAR" )

		footer
			a( href=`/sessao/${ usuario }` ) voltar para painel
			a( href="/" ) encerrar sessao
			small lpfinancas 2023
