@import url("cores.css");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body
{
    height: 100vh;
}

header
{
    border: 1px solid black;
    text-align: center;
    background-color: var(--verdeL);
}
main
{
    border: 1px solid black;
    height: 90%;
}

form
{
    background-color: var(--verdeL);
    margin: 3rem auto;
    max-width: 20em;
    padding: 1rem;
}

a
{
    text-align: center;
    text-decoration: none;
    display: block;
}

footer
{
    border: 1px solid black;
    text-align: center;
    background-color: var(--verdeL);
}
